<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/5810601f-58ba-4bfa-a29c-cea88304fbd5/resourceGroups/AIDemoDNCOpTT/providers/Microsoft.ApiManagement/service/WebAPIOTapi/apis/WebAPIOT</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/5810601f-58ba-4bfa-a29c-cea88304fbd5/resourcegroups/AIDemoDNCOpTT/providers/Microsoft.Web/sites/WebAppDemoDNCOpttLin</ResourceId>
    <ResourceGroup>AIDemoDNCOpTT</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://webappdemodncopttlin.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8b773f0c-a952-403f-afaa-13ed62b8e673</ProjectGuid>
    <PublishUrl>https://webappdemodncopttlin.scm.azurewebsites.net/</PublishUrl>
    <UserName>$WebAppDemoDNCOpttLin</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>